<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    // Routes
    page('/', scrollToTop, function() {
      app.route = 'home';
    });

    page('/settings', scrollToTop, function() {
      app.route = 'settings';
    });

    page('/settings/:name', scrollToTop, function(data) {
      app.route = 'user-info';
      app.params = data.params;
    });

    page('/extensions', scrollToTop, function() {
      app.route = 'extensions';
    });

    page('/log', scrollToTop, function() {
      app.route = 'log';
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
