<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit" />
  <title>Polymer Test Task</title>
  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>

</head>

<body unresolved class="fullbleed layout vertical">
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="drawerPanel" responsive-width="1280px">

      <div class="nav" drawer>
        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <img src="images/logo.png" class="logo" />
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="[[route]]">
          <a data-route="home" href="/" on-click="onDataRouteClick">
            <iron-icon icon="communication:phone"></iron-icon>
            <span>Phone</span>
          </a>

          <a data-route="users" href="/settings" on-click="onDataRouteClick">
            <iron-icon icon="settings"></iron-icon>
            <span>Settings</span>
          </a>

          <a data-route="contact" href="/extensions" on-click="onDataRouteClick">
            <iron-icon icon="settings-input-composite"></iron-icon>
            <span>Extensions</span>
          </a>

          <a data-route="log" href="/log" on-click="onDataRouteClick">
            <iron-icon icon="assignment"></iron-icon>
            <span>Call Log</span>
          </a>
        </paper-menu>

        <back-button></back-button>
      </div>

      <paper-header-panel class="main" main mode="waterfall">

        <!-- Main Toolbar -->
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <img src="images/logo.png" class="logo" paper-drawer-toggle />
        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">


            <section data-route="home">
              <tabs-with-content></tabs-with-content>
            </section>

            <section data-route="settings">
              <paper-material elevation="1">
                <h2 class="page-title">Settings</h2>
                <p>This is the users section</p>
                <a href="/users/Rob">Rob</a>
              </paper-material>
            </section>

            <section data-route="user-info">
              <paper-material elevation="1">
                <h2 class="page-title">
                User:<span>{{params.name}}</span>
                </h2>
              </paper-material>
            </section>

            <section data-route="extensions">
              <paper-material elevation="1">
                <h2 class="page-title">Extensions</h2>
                <p>This is the contact section</p>
              </paper-material>
            </section>

          </iron-pages>
        </div>

      </paper-header-panel>

    </paper-drawer-panel>

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
