<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="back-button">
  <template>
    <style>
      a {
        color: #787878;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
    </style>
    <a href="#">
      <iron-icon icon="arrow-back"></iron-icon> Back
    </a>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'back-button',

        properties: {
          route: {
            type: String,
          }
        }
      });
    })();
  </script>

</dom-module>