<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module is="tabs-with-content">
  <template>
    <style>
      paper-tabs {
        background-color: var(--light-primary-color);
        color: var(--text-secondary-color);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      }
      paper-tab:not(:first-child)::before {
        content: '';
        border-left: 1px solid #a7a7a7;
        position: absolute;
        height: 70%;
        left: 0;
        top: 15%;
      }
    </style>
    <paper-tabs noink selected="{{selected}}" elevation="2">
      <paper-tab>D3 Communication</paper-tab>
      <paper-tab>D3 Communication</paper-tab>
      <paper-tab>D3 Communication</paper-tab>
    </paper-tabs>
    <iron-pages selected="{{selected}}">
      <div><data-table></data-table></div>
      <div><data-table></data-table></div>
      <div><data-table></data-table></div>
    </iron-pages>
  </template>
  <script>
    Polymer({
      is: 'tabs-with-content',
      properties: {
        selected: {
          type: Number,
          value: 0
        }
      }
    });
  </script>
</dom-module>