<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="data-table">
  <template>
    <style>
      table {
        width: 100%;
        border:none;
        border-spacing: 0;
        top: -50px;
        position: relative;
        z-index: -3;
      }
      td {
        text-align: center;
      }
      td:first-child,
      td:last-child {
        color: #a8a8a8;
      }
      thead {
        background-color: var(--light-primary-color);
        color: var(--text-secondary-color);
      }
      tr {
        height: 50px;
      }
      tbody tr:nth-child(even) {
        background-color: #f1f6f9;
      }
      tbody tr td:not(:last-child) {
        border-right: 1px solid #a7a7a7;
      }
      thead th {border: 0;position: relative;}

      thead tr th:nth-child(n+2)::before {
        content: '';
        border-left: 1px solid #a7a7a7;
        position: absolute;
        height: 50%;
        left: -1px;
        top: 25%;
      }

      .shadow-line {box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); position: relative; z-index: 0; top: 0;height: 50px;}
    </style>
    <div class="shadow-line"></div>
    <table elevation="1">
      <thead>
        <tr>
          <th></th>
          <th>Direction</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Number</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
        <tr>
          <td><iron-icon icon="communication:call-missed"></iron-icon></td>
          <td>Inbound</td>
          <td>Sat Nov 07 18:29</td>
          <td>14</td>
          <td>35126549</td>
          <td>NEW YORK NY</td>
          <td><iron-icon icon="av:play-arrow"></iron-icon></td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'data-table',

        properties: {
          route: {
            type: String,
          }
        }
      });
    })();
  </script>

</dom-module>
